@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica;
  background-color: white;
  color: black;
}
/* -------------------------------------  nav -bar ------------------------------------- */

h1 {
  color: black;
  margin-top: 100px;
}
.logo {
  width: 200px;
  margin-left: 20px;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
  z-index: 10;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ff5200;
}

.nav-bar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar ul > li {
  color: white;
  margin: 15px;
  list-style: none;
}
.nav-bar ul > li > a {
  color: white;
  font-weight: 600;
}
.search-container {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  padding: 10px;
  width: 450px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #5d5d5d;
}

.search-btn {
  padding: 10px;
  margin-left: 10px;
  border: none !important;
  border-radius: 5px;
  background-color: #df7f09;
  color: white !important;
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}

.cart-btn {
  border: 1px solid #d07200;
  padding: 7px 16px;
  border-radius: 3px;
  background-color: #df7f09;
  color: black;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* -------------------------------------  Banner ------------------------------------- */

.banner-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff5200;
  overflow-x: hidden;
}
#title {
  font-size: 3rem;
  text-align: center;
  color: white;
  font-weight: 900;
}
.banner-img {
  width: 20%;
  margin-top: 130px;
}

/* -------------------------------------  card ------------------------------------- */
h2 {
  color: #df7f09;
  margin-left: 160px;
  font-size: 30px;
  text-shadow: #5d5d5d;
}
.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /*Smoothtransitions*/
  position: relative;
  overflow: hidden;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1); /* Zoom-in effect */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Elevate shadow on hover */
}

.card img {
  border-radius: 10px; /* Add rounded corners to images */
  object-fit: cover;
  max-height: 200px; /* Prevent images from being too large */
  width: 100%;
}

.card .content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}
button {
  color: white;
}
.card > img {
  width: 100%;
  aspect-ratio: 1;
  height: 200px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.restaurant-info {
  margin: 0px;
  padding: 0;
  color: black;
  text-transform: none;
}
.card-list {
  display: flex;
  margin: 0;
  justify-content: space-between;
}
.card-list > p {
  margin-right: 10px;
  margin: 0;
  overflow-y: hidden;
}
.info {
  font-size: 16px;
  color: gray;
}
.restaurant-list {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 40px;
  margin: auto;
}
.buy-now {
  width: 100%;
  padding: 10px;
  align-self: self-end;
  background-color: #d07200;
  color: black;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .nav-bar > ul {
    display: none;
  }
  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .search-container {
    width: 100%;
    margin: auto;
  }
  .banner-container {
    margin-top: 200px;
    /* display: none; */
    width: 100%;
    height: 100px;
  }
  .banner-img {
    width: 100px;
  }

  h2 {
    font-size: 10px;
  }

  .restaurant-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100px;
    overflow: hidden;
    padding: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .card img {
    width: 100%;
    aspect-ratio: 1;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  h4 {
    font-size: 10px;
    margin: 1px;
  }
  p {
    font-size: 10px;
    margin: 0px;
  }
}
.footer {
  text-align: center;
  background-color: #5d5d5d;
  padding: 10px;
  margin-bottom: 0;
}

.list {
  list-style: none;
}
